<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unfollowers</title>
</head>
<body>
    <h1>Who unfollowed me?</h1>
    <ul>
        <% people.forEach(person => { %>
            <% person.string_list_data.forEach(data => { %>
                <li><a href="<%= data.href %>"><%= data.value %></a></li>
            <% }); %>
        <% }); %>
    </ul>

    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="application/json">
        <button type="submit">Upload</button>
    </form>
</body>
</html>